@import 'libs/variables';
@import 'libs/mixin';
@import 'libs/responsive';

*
{
  margin: 0;
  padding: 0;
}
body
{
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
}
.container 
{
  width: 100%;
  height: 100vh;
  background-image: url("../../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: $pale_blue;

  .card 
  {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid $very_pale_blue;
    border-radius:10px;
    background-color: $very_pale_blue;
    box-shadow:0px 15px 25px 2px rgba(0, 0, 0, 0.2);
    &__image
    {
      width: 100%;
      height: 230px;
      background-image: url("../../images/illustration-hero.svg");
      background-size: cover;
      background-position:center;
      border-radius:10px 10px 0 0 ;
    }
    &__summary
    {
      text-align: center;
      margin: 20px 11%;
      h2
      {
        color: $dark_blue;
        text-shadow: 1px 1px 1px $desaturated_blue;
        margin-top: 30px;
        margin-bottom:20px;
        font-size:35px;
      }
      p
      {
        margin: 0 auto;
        width:300px;
        text-align: center;
        color: $desaturated_blue;
        line-height:30px;
      }
    }
    &__annualPlan
    {
      height: 60px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 10px 11%;
      padding: 15px 15px;
      background-color: rgba(0, 0, 0 , 0.001);
      border: 0px solid $pale_blue;
      border-radius: 10px;
      box-shadow: 1px 1px 5px $pale_blue;
      img
      {
        width: 60px;
        height: 60px;
      }
      &--offer
      {
        position: relative;
        right: 32px;
        
        h3
        {
          color: $dark_blue;
          text-shadow: 0.5px 0.5px 0.5px $desaturated_blue;
          margin-bottom: 10px;
          font-size: 18px;
        }
        p
        {
          color:$desaturated_blue;
        }
      }
      a
      {
        color: $bright_blue;
        &:hover {
          text-decoration:none;
          text-shadow: 1px 1px 1px $desaturated_blue;
        }
      }
    }
    &__button 
    {
      margin: 15px 11%;
      font-weight: 700;
      outline: none;
      border-radius: 10px;
      font-size: 16px;
      cursor: pointer;
      &--validation
      {
        padding: 20px;
        color: $pale_blue;
        background-color: $bright_blue;
        border: 1px solid $bright_blue;
        box-shadow: 0 10px 20px 2.5px rgba(0, 0, 0, 0.2);
        &:hover
        {
          background-color: $h_bright_blue;
          box-shadow: 0 10px 25px 3px rgba(0, 0, 0, 0.2);
        }
      }
      &--cancel
      {
        background-color:$very_pale_blue;
        color: $dark_blue;
        border: 0;
        width: fit-content;
        margin: 20px auto 45px;

        &:hover 
        { 
          text-shadow: 1px 1px 1px $desaturated_blue;
        }
      }
    }
  }
}